      <div class="sgd">
        <p>
        Written in Spring 2012,
        I would love to update and revise it.
        The energy is there though!
        </p>
        1 - Be comfortable in your skin.
        Defend yourself.
        And then give of yourself Be generous.
        2 - You can be comfortable and still have a problem.
        Don't be afraid to tackle it. Be crafty.
        3 - That problem of yours is pretty hard no?
        There will be things you need to learn through
        experimentation and repetition. Also be lazy.
        The cleverness will follow.
        4 - Seeds need water, soil, sun, and protection.
        Things don't grow by themselves.
        A plant is more beautiful in a garden.
        Self
      </div>
