  <div class="top-bar purp-darkest" data-topbar>
    <div class="row" data-topbar>
      <div class="small-1 columns"><br/></div>
      <div class="hylotron-120 small-1 columns"></div>
      <div class="headline small-6 columns left">
        <h1 style="font-family:andale mono;text-align:center;text-shadow: -1px 0 #b6f6f6, 0 1px #6f6f6f, 1px 0 #6f6f6f, 0 -1px #6f6f6f;">
          Gustavo Tavares
        </h1>
        <p style="text-align:center;">Inspired by Dragonfruit
        </p>
      </div>
    </div>
  </div>
