      .posts {
        max-width: 600px;
        margin: 0px auto 0px auto;
      }
      .location {
          font-style: italic;
      }
      .link-to-post {
        font-size: 24px;
      }
      #post {
        display: block;
        font-size: 21px;
        line-height: 32px;
        margin: 30px auto 0px auto;
        max-width: 480px;
      }
      #post h1 {
          font-size: 36px;
          line-height: 54px;
          max-width: 600px;
          margin: 0px 0px 0px -60px;
      }
      #post p {
        width: inherit;
      }
      #post li {
        width: inherit;
      }
